<section class="resume-header"> 
	<p>Gael Brice</p>
</section>
<section class="section-headers">
	<p><span style="float:right; text-size-adjust: 20px;">gael.l.brice@gmail.com</span></p>
	<p><b>Skills Summary</b></p>
	<hr>
</section>
<section class="section-bodies">
	<h3><b>Programming Languages:</b></h3><div style="padding-left:2%">C++, Java, Python, HTML/CSS/JavaScript, Kotlin</div>
	<h3><b>Operating Systems:</b></h3> <div style="padding-left:2%">Windows, MacOS, Linux</div>
	<h3><b>Tools:</b></h3> <div style="padding-left:2%">VSCode, Android Studio, Azure DevOps, Git, Node</div>
</section>
<section class="section-headers">
	<p><b>Education</b></p>
	<hr>
</section>
<section class="section-bodies">
	<h3><b>Bachelor of Arts in Computer Science <span style="float:right">Expected: May 11, 2024</span></b></h3>
	<div style="padding-left:2%">University of Arkansas - Fayetteville, AR, USA <span style="float:right"><b>GPA</b> 3.32</span></div>
	<h3><b>Associate of Arts in Digital Art <span style="float:right">December 15, 2017</span></b></h3>
	<div style="padding-left:2%">Blinn College - Bryan, TX, USA <span style="float:right"><b>GPA</b> 3.06</span></div>
</section>
<section class="section-headers">
	<p><b>Recent Work Experience</b></p>
	<hr>
</section>
<section class="section-bodies">
	<ul>
		<h3><b>Application Development Intern <span style="float:right">June - July 2023</span></b></h3>
		<p>J.B. Hunt - Lowell, AR, USA</p>
		<li>Assisted a mentor team with coding, debugging, testing, and documenting fixes and features for Carrier 360 - a customer-facing
		web, Android, iOS app for viewing, accepting, and scheduling driver loads.</li>
		<li>Participated in the software development lifecycle using SCRUM methodologies coordinated via Azure DevOps, and
		gave a final presentation of our work to the rest of the company.</li>
	</ul>
	<ul>
		<h3><b>Customer Service Representative<span style="float:right">July 2020 - May 2022</span></b></h3>
		<p>Walmart - Springdale, AR, USA</p>
		<li>Provided friendly customer support for all imaginable issues that people across the United States may have with the retailer.</li>
		<li>Practiced and developed skills in active listening and quick note taking to produce accurate and detailed tickets.</li>
	</ul>
	<ul>
		<h3><b>Resource Center Assistant<span style="float:right">January 2016 - June 2018</span></b></h3>
		<p>Office of the Dean of Student Life - Texas A&M University, Colege Station, TX, USA</p>
		<li>Maintained an online database of book and DVD resources students could check out.</li>
		<li>Created advertising for university sponsored programming that met university brand standards.</li>
		<li>Assisted in ordering new resources and with setting up sponsored programming events throughout the academic year.</li>
	</ul>
</section>
<section class="section-headers">
	<p><b>Leadership</b></p>
	<hr>
</section>
<section class="section-bodies">
	<ul>
		<h3><b>Secretary, Historian, and President <span style="float:right">June 2015 - June 2018</span></b></h3>
		<p>LGBTQ Aggies - Texas A&M University, College Station, TX, USA</p>
		<li>Handled budget and a team of other dedicated individuals to create an array of interesting programming for students that served to foster community.</li>
		<li>Utilized organizational and leadership skills to schedule multiple hour-long meetings every week of the semester.</li>
	</ul>
</section>
<section class="section-headers">
	<p><b>Software Projects</b></p>
	<hr>
</section>
<section class="section-bodies">
	<ul>
		<h3><b><a href="https://github.com/huener/ArcadePinballDatabase/tree/main">Arcade & Pinball Database</a><span style="float:right">Spring 2022</span></b></h3>
		<p>University of Arkansas - Programming Foundations II</p>
		<li>Adapted an unsorted text file of all manufactured arcade cabinets and pinballs into a sorted, searchable, and editable file-based database using object-oriented programming.</li>
		<li>Project was created using C++ and was implemented multiple times, using a binary search tree as well as an array of ADT container class objects.</li>
	</ul>
	<ul>
		<h3><b><a href="https://github.com/huener/Platformer/tree/main">Luigi Time Platformer</a><span style="float:right">Fall 2022</span></b></h3>
		<p>University of Arkansas - Programming Paradigms</p>
		<li>Utilized Model-View-Controller architecture to implement a basic platforming game in Java, Python, and JavaScript</li>
		
	</ul>
	<ul>
		<h3><b><a href="https://github.com/joseph-bergin/Hackathon-2022">Trashbot</a><span style="float:right">Fall 2022</span></b></h3>
		<p>University of Arkansas - ACM Hackathon</p>
		Theme: Smart Home Device
		<li>Worked on the web application design, 3D printing, and Raspberry Pi GPIO wiring to create a full trashcan detection system.</li>
		<li>Utilizes Rest API to interface between a web app and an android app for toggling the system's features</li>
	</ul>
	<ul>
		<h3><b><a href="https://github.com/huener/SE-photon">Photon Laser Tag Simulator</a><span style="float:right">Spring 2023</span></b></h3>
		<p>University of Arkansas - Software Engineering</p>
		<li>Gained valuable Agile development lifecycle experience while working to create a system in Java that simulates the Photon laser tag experience.</li>
		<li>Java application listens on a particular socket for input from a python script simulating points between two teams.</li>
		<li>The system also takes in user input for usernames and communicates with a supabase database to keep track of user scores.</li>
	</ul>
	<ul>
		<h3><b><a href="https://github.com/huener/hackathon-spring23">eShop - Environmentally Conscious Barcode Scanner</a><span style="float:right">Spring 2023</span></b></h3>
		<p>University of Arkansas - ACM Hackathon</p>
		Theme: Energy and Sustainability
		<li>Helped design the idea, tech stack, and prototype of an Android application that attempts to provide a environmental consciousness score for the user.</li>
		<li>The app scans a barcode with a phone camera and determines the company the product is registered with before querying ChatGPT to provide an environmental consciousness score for the product.</li>
	</ul>
	<ul>
		<h3><b><a href="https://github.com/TheavanSaitang/Mobile-Programming-Project/tree/main">GameFolio</a><span style="float:right">Fall 2023</span></b></h3>
		<p>University of Arkansas - Mobile Programming</p>
		<li>Worked to create a mobile app using Modle-View-ViewModel architecture to create an app concept that allows users to manually enter games or import their existing libraries.</li>
		<li>Queries Steam for user libraries and Video Game Database to scrape information on most games.</li>
		<li>Allows for manual user input and multiple field customizations to store high scores, ratings, screenshots, best run times, etc.</li>
	</ul>
	
</section>

