/* You can add global styles to this file, and also import other style files */
/* hey heres a pretty good pallate that popped up on a new tab one day. fits well. 
	https://colorhunt.co/palette/f0a500334756082032000000/?ref=tab */

* {
  margin: 0;
  padding: 0;
}
 
body { 
	height: 100%; 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
	background-color: #333;
	color: #888;
}

:root {
  --text: #888;
  --primary-color: #ffae00;
  --secondary-color: #DC3535;
  --accent-color: #FFE15D;
  --shadow-color: #B01E68;
}